/* categories */

.category{
  border: solid 2px white;
  width: 86px;
  height: 86px;
  border-radius: 100px;

}

.cat_container{
  border: solid 2px pink;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.cat_box{
  border: solid 2px gold;

}

@font-face {
  font-family: "Apercu";
  src: url(C:\Users\purpl\Downloads\Apercu-Font-Family\Apercu_Font_Family\Apercu_Regular.otf);
}
.cat_txt{
  font-family: "Apercu";
}